* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.moreInfoBtn {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  margin-bottom: 0 !important;
}
.noProductsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
h5 {
  text-transform: capitalize;
}
.cardFooter {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 1rem;
}
.cartItemContainer {
  width: 18rem;
  display: flex;
  flex-direction: row !important;
  margin-bottom: 0.5rem;
}
.input-group {
  max-width: 600px;
  width: 90% !important;
}
.cartWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.card,
.mb-3 {
  width: 60vw;
}
.mb-2 {
  width: 30vw;
}
.mb-4 {
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.totalPriceWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
}
.totalPriceWrapper > div {
  font-size: 20px;
}
.cartItemImg {
  width: 100px;
  height: auto;
}

.deleteBtn {
  background-color: white;
  border: none;
  height: 24px;
}
.cartItemDetails {
  display: flex;
  justify-content: space-between;
}

.cartItemWrapper {
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardTitle {
  font-size: 14px;
  font-weight: bolder;
}

.cardText {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .moreInfoBtn {
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
    font-size: 12px;
    display: flex;
    width: 28%;
  }

  .cardFooter {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center !important;
  }

  .wrapper {
    justify-content: space-evenly;
  }
  .productCardContainer {
    max-height: 250px;
  }
  .card-img-top {
    max-width: 200px;
  }
  .cartWrapper {
    min-width: 350px;
  }
  .cartItemContainer {
    width: 22rem;
  }

  .cardFooter > p {
    padding-bottom: 1rem;
  }

  .modal-header {
    align-items: baseline !important;
  }
}
